

/* manaeg policy */
#policy
{
    color: red;
    font-size: 25px;
    text-align: center;
    
}
.manage
{
    text-align:center;
}
.bi-person-lines-fill
{
font-size: 100px;
}
.bi-journal-check
{
    font-size: 100px;
}
.bi-journal-richtext
{
    font-size: 100px;
}